
<table class="table" border="1">
    <tr>

        <th>Name</th>
        <th>Description</th>
        <th>DOB</th>
    </tr>
    @if (ViewBag.stud != null)
    {

        @foreach (var i in ViewBag.stud)
        {
            <tr>
                <td>@i.Name</td>
                <td>@i.Description</td>
                <td>@i.DOB</td>

            </tr>
        }

    }
</table>