<div style="background: rgb(37,24,226);
background: radial-gradient(circle, rgba(37,24,226,1) 0%, rgba(29,7,151,1) 61%, rgba(57,134,226,1) 100%); width: 100%;min-height: 180vh;">


    <div style=" color:white;

text-shadow:  black;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;
position: relative;
height: 57vw;
top: 9vw;">
        <div>
            <img src="~/5star.png" style="width: 30vw;">
            <div>
                <p>Google 4.9 * Rated Institute</p>
            </div>
            <div>
                <p>All Rights Reserved Suffix E Solutions © 2007-2023</p>
            </div>
        </div>

        <div style="padding-top: 3vw;">
            <div>
                <h2 style="font-size: 5vw;text-align: center;">SCOPE INDIA, Your Career Partner!</h2>
            </div>
            <div class="container-md col-md-6" style="padding-top: 1vw;">
                <h3 style="font-size: 2vw;text-align: center;">One of the best Training Destination for Software, Networking and Cloud Computing courses in India</h3>
            </div>
            <div class="container-md col-md-10" style="padding-top: 2vw;">
                <p style="text-align: center;">Software, Networking, and Cloud Professional Education Centre in Kerala from Suffix E Solutions with WORKING PROFESSIONALS oriented on-the-job TRAINING model. SCOPE INDIA provides courses for Software Programming in Python (Data Science | Artificial Intelligence | Machine Learning | Deep Learning), Java, PHP, .Net, Software Testing Manual and Automation, Cloud in AWS, Azure, Server Administration in MCSE, and RHCE, CCNA, Mobile App Development in Flutter, and, Digital Marketing. Training with 100% Trusted Job Based Internship Model. SCOPE INDIA has a Strong Placement Cell that provides jobs to 1000's of students every year. We assure you, you won't regret it after training from SCOPE INDIA!</p>
            </div>

        </div>


        <div class="row" style="position: relative;
top: 8vw;
height: 19vw;
width: 84vw;
left: 8vw;">
            <div class="col-md" style="padding-top: 10vw">
                <h3 style="font-size: 29px;text-align: center;color:white;text-shadow: 2px 2px black;">
                    <span style="color:#04f93e;font-size: 45px;text-align: center;">1000+</span><br>
                    STUDENTS ARE
                    TRAINED EVERY YEAR


                </h3>
            </div>
            <div class="col-md">
                <h3 style="font-size: 29px;text-align: center;color:white;text-shadow: 2px 2px black;">
                    <span style="color: #04f93e;font-size: 45px;text-align: center;">30+</span><br>
                    COMPUTER COURSES
                </h3>
            </div>
            <div class="col-md" style="padding-top: 10vw">
                <h3 style="font-size: 29px;text-align: center;color:white;text-shadow: 2px 2px black;">
                    <span style="color: #04f93e;font-size: 45px;text-align: center;"> 95%</span><br>
                    STUDENTS ARE GETTING
                    PLACED EVERY YEAR
                </h3>
            </div>

        </div>

</div>
</div>