@{
    ViewData["Title"] = "Careers";
}
<div style="background: rgb(37,24,226);
    background: radial-gradient(circle, rgba(37,24,226,1) 0%, rgba(29,7,151,1) 61%, rgba(57,134,226,1) 100%); width: 100%;height: 55vw;">



    <div>
        <h1 style="text-align: center;text-shadow: 1px 1px black;font-size: 4vw;
        color: white;position: relative;
        top:11vw;">
            Currently, There is no Vacancy.
        </h1>
    </div>
</div>