
@{
    ViewData["Title"] = "Home Page";
}

<div style="padding-top: 26vw;">




    <div id="loader" style="z-index: 1000;">


        <div class="center">
            <div class="wave">
            </div>
            <div class="wave">
            </div>
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>

            <div class="wave"></div>

            <div class="wave"></div>

            <div class="wave"></div>
            <div class="wave"></div>
        </div>
        <p id="p" style=" margin-top: -140px; font-size: 33px;text-shadow: 2px 2px rgb(144, 6, 6);opacity: 0;font-family: cursive;text-align: center;"> Success is not for the chosen few,it's for the few who choose</p>
        <img id="p1" src="scope-india-logo-bird.png">
    </div>


    <div>


        
        
        <img src="2-removebg-preview (1).png" style="width: 9vw;position: relative;
        left: 83vw;
        bottom: 17vw;">
        <img src="3-removebg-preview.png" style="width: 9vw;position: relative;
        right: 5vw;
    bottom: 16vw;
    
    ">
        
        <img src="5-removebg-preview.png" style="width: 11vw;
        position: relative;
       right: 8vw;
    top: 4vw;
}">
        <img src="7-removebg-preview.png" style="width: 12vw;
        position: relative;
        top: 14vw;
        left: 12vw;
    ">
        <img src="6-removebg-preview.png" style="width: 13vw;
        position: relative;
        left: 37vw;
    top: 4vw;
    ">
            
        <div id="heading" style="position: relative;
        top: -24vw;
        width: 49vw;
        left: 24vw;
    ">
            <h1 style="font-family: Fantasy;" id="h1"><i>SC<span style="color: #c3b513;">O</span>PE INDIA</i></h1>
        <h3 id="h3-1">An ISO 9001:2005 Certified Company</h3>
        <h3 id="h3-2"> Trivandrum | Kochi | Nagercoil</h3>
            </div>
        
            <button id="show-career-btn" ><b>Show Me a Career Path</b></button>
        
        
           
          
              <div class="photo-container">
                <div class="photos" style="width: 48vw;">
                    <img src="scope-india-aws-certification-course-(1).jpg" alt="Aws">
                    <img src="scope-india-azure-certification-course.jpg" alt="Azure">
                    <img src="scope-india-dotnet-core-full-stack-course.jpg" alt="Dot net">
                    <img src="scope-india-flutter-fullstack-course.jpg" alt="flutter">
                    <img src="scope-india-mean-mern-stack-course.jpg" alt="Mern/Mean">
                    <img src="scope-india-php-full-stack-course (1).jpg" alt="Php">
                    <img src="scope-india-python-full-stack-course (1).jpg" alt="Python">
                    
                </div>
              </div>
              <button id="scroll-button-left"><svg style="color: white;" xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-chevron-double-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
              </svg></button>
              <button  id="scroll-button-right"><svg style="color: white;" xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
              </svg></button>



              <div class="row" id="train-intern-groom-place">
               
                <div class="col-md-3 "> 
                    <a href="/" style="text-decoration: none;">
                        <img src="training-removebg-preview.png" style="    width: 6vw;">
                    <h5 style="color: #c3b513;text-shadow: 1px 1px black;"  >Training</h5>
                    <p style="color: white;text-shadow: 1px 1px black;">
                        You are trained under Suffix E Solutions working professionals, on-the-job training model.</p>
                    </a>
                </div>

                <div class="col-md-3 "> 
                    <a href="/" style="text-decoration: none;">
                        <img src="intern-removebg-preview.png" style="    width: 6vw;">
                    <h5 style="color: #c3b513;text-shadow: 1px 1px black;" >Internship</h5>
                    <p style="color: white;text-shadow: 1px 1px black;">
                        After course completion, you will be proceeded to live projects with a 6 months experience certificate.</p>
                    </a>
                </div>

                <div class="col-md-3 "> 
                    <a href="/" style="text-decoration: none;">
                        <img src="gr-removebg-preview.png" style="    width: 6vw;">
                    <h5 style="color: #c3b513;text-shadow: 1px 1px black;" >Grooming</h5>
                    <p style="color: white;text-shadow: 1px 1px black;">
                        CV Preparation, Interview Preparation, and Personality Development.</p>
                    </a>
                </div>

                <div class="col-md-3 ">
                <a  style="text-decoration: none;">
                        <img src="download-removebg-preview.png" style="    width: 6vw;">
                    <h5 style="color: #c3b513;text-shadow: 1px 1px black;" >Placement</h5>
                    <p style="color: white;text-shadow: 1px 1px black;">
                        Gives 100% FREE placement support to all our fellow techies through SCOPE INDIA's Placement Cell.</p>
                    </a>
                </div>
              </div>

    
 <div   id="detail-home">
    <div>
            <img src="5star.png" style="width: 30vw;">
            <div> 
                <p>Google 4.9 * Rated Institute</p>
            </div>
            <div>
                <p>All Rights Reserved Suffix E Solutions © 2007-2023</p>
            </div>
    </div>
        
 <div   style="padding-top: 3vw;">
     <div>
        <h2 style="font-size: 5vw;text-align: center;">SCOPE INDIA, Your Career Partner!</h2>
     </div>
     <div class="container-md col-md-6" style="padding-top: 1vw;">
        <h3 style="font-size: 2vw;text-align: center;">One of the best Training Destination for Software, Networking and Cloud Computing courses in India</h3>
     </div>
     <div class="container-md col-md-10" style="padding-top: 2vw;">
        <p style="text-align: center;">Software, Networking, and Cloud Professional Education Centre in Kerala from Suffix E Solutions with WORKING PROFESSIONALS oriented on-the-job TRAINING model. SCOPE INDIA provides courses for Software Programming in Python (Data Science | Artificial Intelligence | Machine Learning | Deep Learning), Java, PHP, .Net, Software Testing Manual and Automation, Cloud in AWS, Azure, Server Administration in MCSE, and RHCE, CCNA, Mobile App Development in Flutter, and, Digital Marketing. Training with 100% Trusted Job Based Internship Model. SCOPE INDIA has a Strong Placement Cell that provides jobs to 1000's of students every year. We assure you, you won't regret it after training from SCOPE INDIA!</p>
     </div>
    
     <div style="padding-top: 2vw">
          
                        <button id="reg-now" asp-area="" asp-controller="Registration" asp-action="Index" >
            Register Now</button>
            
        </div>

          
</div>
    </div>
</div>
    

<div  id="know-more">
 
    <div class="container-md col-md-10" style="width: 57vw;">
    <h2 style="color: white;text-align: center;font-size: 3.8vw;text-shadow: 1px 1px black;">Want to know More About Scope India ?</h2>
 </div>
 

    <form>
        <div class="row "  style="padding-left: 38vw;padding-top: 3vw;width: 103vw;">


        <div class=" col-md-5">
        <label style="color: #f0dc09">Name</label><br>
        <input style="width: 20vw;height: 3vw;border-radius: 8px;font-size: 22px;text-align: center;border: solid;" type="text">
    </div>

    <div class=" col-md-5">
        <label style="color: #f0dc09">Email</label><br>
        <input style="width: 20vw;height: 3vw;border-radius: 8px;font-size: 22px;text-align: center;border: solid;" type="email">
    </div>




    <div class=" col-md-5">
        <label style="color: #f0dc09">Contact Number</label><br>
        <input style="width: 20vw;height: 3vw;border-radius: 8px;font-size: 22px;text-align: center;border: solid;" type="tel">
    </div>

    <div class=" col-md-5">
        <label style="color: #f0dc09">Location</label><br>
        <select style="width: 20vw;height: 3vw;border-radius: 8px;font-size: 22px;text-align: center; border: solid;">
            <option disabled="" selected=""> select </option>
            <option>Kochi</option>
            <option>Trivandrum</option>
            <option>Nagercoil</option>
        </select>
        </div>

        
    

        <div style="padding-top: 3vw;padding-left: 32vw;">
            <button id="talk-team" style="border-radius: 1vw;
            width: 12vw;
            height: 3vw;
            border: solid 2px red;
            background: rgb(39,29,224);background: radial-gradient(circle, rgba(39,29,224,1) 0%, rgba(55,41,129,1) 25%, rgba(25,25,218,1) 50%, rgba(6,27,222,1) 75%, rgba(8,94,77,1) 100%);
            font-size: 16px;
            color:white;
            text-shadow: 1px 1px black;">Talk With Our Team</button>
        </div>
    
    </div>
    </form>
    <div style="position: relative;
    top: -15vw;
    left: -33vw;
    width: 21vw;
">
                <img src="sup1-removebg-preview.png" style="width: 22vw;position: relative;left: 39vw;">
    </div>
</div>
</div>
