<div style="background: rgb(37,24,226);
background: radial-gradient(circle, rgba(37,24,226,1) 0%, rgba(29,7,151,1) 61%, rgba(57,134,226,1) 100%); width: 100%;min-height: 274vh;">

    <div style="top: 9vw;font-size: 5vw;">
        <h1 style="color: white;position: relative;
    top: 9vw;
    font-size: 5vw;
    text-align: center;
    text-shadow: 1px 1px black;">
            Placements
        </h1>
    </div>
    <div style="position: relative;top: 10vw;">
        <h3 style="color: white;color: gold;

    text-align: center;
    text-shadow: 1px 1px black;">
            Our mission is to provide 100% Placements to students those who enrol for our specialised courses
        </h3>
    </div>

    <div style="position: relative;
top: 10vw;
text-align: center;color: goldenrod;
">
        <img src="~/5star.png" style="width: 30vw;;">
        <div>
            <p>Google 4.9 * Rated Institute</p>
        </div>
        <div>
            <p>All Rights Reserved Suffix E Solutions © 2007-2023</p>
        </div>
    </div>


    <div class="row container" style="position: relative;
top: 16vw;left: 7vw;">

        <div class="col-md-3">

            <div style="background-color: white;border-radius: 1vw;height: 70vh;" class="thumbnail text-center">
                <img style="width: 14vw;
            margin-top: 1vw;
            border-radius: 1vw;" src="~/abhijith.jpg">

                <div class="caption">
                    <h5>Abhijith S</h5>
                    <p style="font-size: 2vw;"><b>Digital Marketing Executive</b></p>
                    <p>Appfabs Inc, Technopark      </p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div style="background-color: white;border-radius: 1vw;height: 70vh;" class="thumbnail text-center">
                <img style="width: 14vw;
            margin-top: 1vw;
            border-radius: 1vw;" src="~/afia.jpg">

                <div class="caption">
                    <h5>Afia Shanavas</h5>
                    <p style="font-size: 2vw;"><b>Associate Customer Service</b></p>
                    <p>Allianz Services Pvt Ltd, Technopark</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div style="background-color: white;border-radius: 1vw;height: 70vh;" class="thumbnail text-center">
                <img style="width: 14vw;
            margin-top: 1vw;
            border-radius: 1vw;" src="~/anand.jpg">

                <div class="caption">
                    <h5>Anand I S</h5>
                    <p style="font-size: 2vw;"><b>Support Engineer Trainee</b></p>
                    <p>Techmatrix Software Technopark</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div style="background-color: white;border-radius: 1vw;height: 70vh;" class="thumbnail text-center">
                <img style="width: 14vw;
            margin-top: 1vw;
            border-radius: 1vw;" src="~/anjana-raj.jpg">

                <div class="caption">
                    <h5>Anjana Raj S</h5>
                    <p style="font-size: 2vw;"><b>Associate Software Tester</b></p>
                    <p>Kefi Tech Solutions Pvt Ltd, Technopark</p>
                </div>
            </div>
        </div>

        <div class="col-md-3" style="margin-top: 2vw;">
            <div style="background-color: white;border-radius: 1vw;height: 70vh;" class="thumbnail text-center">
                <img style="width: 14vw;
            margin-top: 1vw;
            border-radius: 1vw;" src="~/anto.png">

                <div class="caption">
                    <h5>Anto J C</h5>
                    <p style="font-size: 2vw;"><b>Junior PHP Developer</b></p>
                    <p>Itmarkerz Technologies, Kottayam</p>
                </div>
            </div>
        </div>

        <div class="col-md-3" style="margin-top: 2vw;">
            <div style="background-color: white;border-radius: 1vw;height: 70vh;" class="thumbnail text-center">
                <img style="width: 14vw;
            margin-top: 1vw;
            border-radius: 1vw;" src="~/arunlal.jpg">

                <div class="caption">
                    <h5>Arunlal Preman</h5>
                    <p style="font-size: 2vw;"><b>Junior DevOps Engineer</b></p>
                    <p>CrunchOps LLP, Bangalore</p>
                </div>
            </div>
        </div>

        <div class="col-md-3" style="margin-top: 2vw;">
            <div style="background-color: white;border-radius: 1vw;height: 70vh;" class="thumbnail text-center">
                <img style="width: 14vw;
            margin-top: 1vw;
            border-radius: 1vw;" src="~/bharathi.jpg">

                <div class="caption">
                    <h5>Bharathi M</h5>
                    <p style="font-size: 2vw;"><b>Dot Net Developer</b></p>
                    <p>Kenfra Research Solutions, Marthandam</p>
                </div>
            </div>
        </div>

        <div class="col-md-3" style="margin-top: 2vw;">
            <div style="background-color: white;border-radius: 1vw;height: 70vh;" class="thumbnail text-center">
                <img style="width: 14vw;
            margin-top: 1vw;
            border-radius: 1vw;" src="~/sanjana.png">

                <div class="caption">
                    <h5>Sanjana D M</h5>
                    <p style="font-size: 2vw;"><b>Associate I-Cloud Infrastructure Services</b></p>
                    <p>UST Global, Trivandrum</p>
                </div>
            </div>
        </div>


    </div>
</div>